:root {
    --primary-color: rgba(22, 22, 22, 0.7);
    --secondary-color:rgba(22, 22, 22, 0.5);
;    --background-color: #FAF7FE;
    --main-font: "Rubik", sans-serif;;
}

body {
    text-align: center;

}

h1 {
    font-family: var(--main-font);
    letter-spacing: 5px;
    font-weight: 400; 
}

.homepage h1 {
    color:rgb(89, 79, 78);
    font-size:68px;
    transition: all 100ms ease-in-out;
}


i {
    font-size: 28px;
    color: var(--primary-color);
}
h2, p {
    font-size: 24px;
    font-family: var(--main-font);
    color:var(--primary-color);
    font-weight: 100;
    letter-spacing: 2px;
}

.homepage h2 {
    text-shadow: rgb(232, 214, 252) 1px 0 10px;
}

.homepage {
    background-color: var(--background-color);
    padding: 115px 160px 105px 140px;
    transition: all 200ms ease-out;
    margin-top:55px;
}   

.homepage i {
    font-size: 20px;
    color: var(--primary-color);
}

.navbar-light {
    background-color: white !important;
}

.navbar-brand {
    color:var(--primary-color);
}

.navbar a {
    color: var(--primary-color) !important;
    font-family: var(--main-font) !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn-light {
    padding: 12px 27px !important;
}

.btn-light:hover{
    color: var(--secondary-color) !important;
    background-color: white !important;
}

.featured {
    font-size: 26px;
    font-family: var(--main-font);
    padding-bottom: 30px;
    margin: 70px 70px;
    text-align: left;
    color: var(--primary-color);
}

.row a{
    color: var(--secondary-color);
    font-family: var(--main-font) !important;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: var(--background-color);
}

.hero i {
    font-size: 24px;
}

.hero img {
    background-color: var(--background-color);
    padding: 25px 40px;
    border-radius: 8px;

}

.hero footer {
    background-color: white;
    padding-top: 50px;
    margin-bottom: 0;
    
}

.hero p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
}

img {
    transition: transform 400ms;
}
img:hover {
transform: scale(1.1);
}

.page .navbar-light {
    background-color: var(--background-color) !important;
}

.page h1 {
    color: var(--primary-color);
    font-size: 40px;
}

.about .row {
    margin: 90px 0 60px 0;
}

.about h2{
    margin-top: 60px;
    font-weight: 400;
    font-size: 35px;
}

p {
    font-size: 18px;
    color: var(--secondary-color);
}
.description {
    margin-top: 30px;
    margin-left: 80px;
}

footer {
    margin: 10px 0 70px 0;
    padding: 1px 0 50px 0;
    background-color: var(--background-color);
}

.about img {
    max-height: 350px;
}

.showcase p {
    font-weight: 400;
    letter-spacing: 1.2px;
}

footer a {
    text-decoration: none;
    color: var(--primary-color);
}

footer i:hover, footer a:hover {
    color: var(--secondary-color);
}

.about footer {
    transform: scale(1.1);
}

.active {
    text-decoration: underline;
}
@media (max-width: 800px) {

    h2{
        font-size: 16px;
    }

    .featured {
        font-size: 18px;
    }
    .homepage {
        padding: 55px 0 50px 0 ;
    }

    .homepage h1 {
        font-size: 32px;
    }
   
    .about {
        margin-top: 0;
    }
    .description {
        margin-left: 0;
    }
    .hero footer {
        margin-top: 50px;
    }
     .my-photo-phone {
        display: block;
    }
    .large {
        display: none;
    }


}


.my-photo-phone {
    display: none;
}