:root {
    --main-font: "Arimo", sans-serif;
}

body {
    text-align: center;
}

h1 {
    font-size: 60px;
     font-family: var(--main-font);
     letter-spacing: 6px;
     font-weight: 450;
     background: #5D828C;
background: radial-gradient(circle,rgba(93, 130, 140, 1) 0%, rgba(143, 169, 176, 1) 59%, rgba(87, 93, 88, 1) 100%);
    background-clip: text;
    color: transparent;
   
}






i {
    font-size: 28px;
    color: black;
}
p{
    font-size: 24px;
     font-family: var(--main-font);
     color:#5D828C;
     font-weight: 100;
     letter-spacing: 2px;
    


}
.navbar-light {
    background-color: #E8E5E1 !important;
}

.featured {
    margin: 70px 70px;
    text-align: left;
    color: #4c6b72;
}

.navbar-brand {
 color:#5D828C;
}

.nav-link {
    color: #4c6b72;
}

.homepage {
       background-color: #E8E5E1;
       padding: 180px 160px 160px 160px;
}

.btn-light {
    background-color: #d1cfca !important;
  
}