:root {
    --primary-color: rgba(22, 22, 22, 0.7);
    --secondary-color:rgba(22, 22, 22, 0.5);
;    --background-color: #FAF7FE;
    --main-font: "Archivo Black", sans-serif;
    --second-font: "Roboto Flex", sans-serif;
}

body {
    text-align: center;

}

h1 {
    font-family: var(--main-font);
    letter-spacing: 6px;
    font-weight: 450; 
}

.homepage h1 {
    color:rgba(38, 32, 25, 0.85); 
    font-size:68px;
    transition: all 100ms ease-in-out;
}

.homepage h1:hover {
    color:rgb(89, 79, 78);
}

i {
    font-size: 28px;
    color: var(--primary-color);
}
h2, p {
    font-size: 24px;
    font-family: var(--main-font);
    color:var(--primary-color);
    font-weight: 100;
    letter-spacing: 2px;
}

.homepage h2 {
    text-shadow: rgb(232, 214, 252) 1px 0 10px;

}

.homepage {
    background-color: var(--background-color);
    padding: 115px 160px 105px 140px;
    transition: all 200ms ease-out;
    margin-top:55px;
}   


.homepage i {
    font-size: 20px;
    color: var(--primary-color);

}

.homepage a {
    font-family: var(--main-font);
    color: var(--primary-color);
    letter-spacing: 1.2px;
}

.homepage a:hover {
    color: #ce4b44;
}

.navbar-light {
    background-color: white !important;
}


.navbar-brand {
    color:var(--primary-color);
}

.navbar a {
    color: var(--primary-color) !important;
    font-family: var(--second-color) !important;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
}

.active {
    color: blue !important;
}

.btn-light {
    padding: 12px 27px !important;
}

.featured {
    font-size: 28px;
    font-family: var(--main-font);
    padding-bottom: 30px;
    margin: 70px 70px;
    text-align: left;
    color: var(--primary-color);

}

.row a{
    color: var(--secondary-color);
    font-family: var(--second-font) !important;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: var(--background-color);

}


.page .navbar-light {
    background-color: var(--background-color) !important;
}

.about h1 {
    color: var(--primary-color);
    font-size: 40px;


}
.about .row {
    margin: 100px 0 60px 0;
}

.about h2{
    margin-top: 60px;
    font-weight: 400;
    font-size: 40px;
}

p {
    font-size: 18px;
    color: var(--secondary-color);
}
.description {
    margin-top: 30px;
    margin-left: 80px;
}

footer {
    margin: 10px 0 70px 0;
    padding: 1px 0 50px 0;
    background-color: var(--background-color);
}

.about img {
    max-height: 350px;
}

.project {
    margin-top: 60px;
}

@media (max-width: 800px) {

    h1{ 
        font-size: 45px;
    }
    h2, featured{
        font-size: 18px;
    }
    .homepage {
        padding: 50px 0 50px 0 ;
    }

    .homepage h1 {
        font-size: 32px;
    }
   
    .about {
        margin-top: 0;
    }
    .description {
        margin-left: 0;
    }
}
